.perk-level {
  margin: 10px;
  width: 20%;
  opacity: 1;

  .perk-image {
    height: 100px;
    width: 100px;
  }

  .grayscale {
    opacity: 0.8;
    filter: grayscale(66%);
  }

  .perktooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 40%;
    margin-left: -73px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #18bc9c;
  }

  .perktooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}

.tooltip {
  position: relative;
}

.tooltip:hover .perktooltiptext {
  visibility: visible;
  opacity: 1;
}

.perk-level .grayscale:hover {
  opacity: 1;
  filter: grayscale(0);
  cursor: pointer;
}
