body {
  background: white;

  li {
    list-style: none;
  }

  .error {
    color: red;
  }

  .tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    z-index: 1;

    .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: darkgray;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      bottom: 110%;
      left: 40%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltiptext::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }

  .fdb-block {
    padding-top: 40px;
  }

  .text-center {
    text-align: center;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .perk-cards-container .progressbar-container {
    margin-bottom: 20px;
  }

  .progressbar-progress {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
