.navbar-dark .navbar-nav .nav-link {
  display: inline;
}

.nav .profile .image {
  max-height: 35px;
  max-width: 30px;
  margin-left: 5px;
  display: inline-block;

  img {
    height: 100%;
    width: 100%;
  }
}

body {
  background: white;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: darkgray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 40%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .perktooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 40%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #18bc9c;
  }

  .tooltiptext::after,
  .perktooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
}

.tooltip:hover .tooltiptext,
.tooltip:hover .perktooltiptext {
  visibility: visible;
  opacity: 1;
}
