.navbar-dark .navbar-nav .nav-link {
  display: inline; }

.nav .profile .image {
  max-height: 35px;
  max-width: 30px;
  margin-left: 5px;
  display: inline-block; }
  .nav .profile .image img {
    height: 100%;
    width: 100%; }

body {
  background: white; }

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1; }
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: darkgray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 40%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s; }
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; }

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1; }

.perk-level {
  margin: 10px;
  width: 20%;
  opacity: 1; }
  .perk-level .perk-image {
    height: 100px;
    width: 100px; }
  .perk-level .grayscale {
    opacity: 0.8;
    filter: grayscale(66%); }
  .perk-level .perktooltiptext {
    visibility: hidden;
    width: 120px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 40%;
    margin-left: -73px;
    opacity: 0;
    transition: opacity 0.3s;
    background-color: #18bc9c; }
  .perk-level .perktooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent; }

.tooltip:hover .perktooltiptext {
  visibility: visible;
  opacity: 1; }

.perk-level .grayscale:hover {
  opacity: 1;
  filter: grayscale(0);
  cursor: pointer; }

.perk-container {
  margin-top: 5vh; }
  .perk-container .perk {
    list-style: none;
    display: flex; }
    .perk-container .perk .title {
      position: relative; }
      .perk-container .perk .title ::first-letter {
        font-size: 55px; }
      .perk-container .perk .title span {
        position: absolute;
        bottom: 0;
        left: 5%; }

.perk-header .perk-description {
  text-align: center;
  letter-spacing: 1px;
  font-style: italic; }


.perk-card-container {
  max-width: 900px;
  height: auto;
  margin: auto;
  margin: auto;
  margin-top: 5vh;
  width: 65%; }
  .perk-card-container .perk-card {
    -webkit-box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.16);
    margin-bottom: 5%;
    background: white;
    height: auto;
    width: 100%;
    font-size: 14px;
    color: #656565;
    font-weight: 300;
    padding: 10% 10% 10% 10%;
    line-height: 25px;
    border: 0;
    -webkit-appearance: none;
    border-radius: 10px;
    transition: box-shadow 0.2s ease-in-out;
    text-decoration: none; }
    .perk-card-container .perk-card h3 {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 1rem; }
    .perk-card-container .perk-card button {
      text-align: center; }
  .perk-card-container a {
    text-decoration: none; }
  .perk-card-container a:hover {
    text-decoration: none; }

.perk-card:hover {
  -webkit-box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.26);
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.26); }



/*# sourceMappingURL=styles.chunk.css.map*/