body footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;

  a {
    grid-column: 2;
    transition: 0.5s;
  }

  a:hover {
    text-decoration: none;
    font-size: 15.5px;
  }
}
