.perktree-container {
    margin-top: 5%;
    
    .perk {
        list-style: none;
        display: flex;

        .title {
            position: relative;

            ::first-letter { 
                font-size: 55px;
            }

            span {
                position: absolute;
                bottom: 0;
                left: 5%;
            }
        }

        .perk-level {
            margin: 10px;
            width: 20%;

            .perk-image {
                height: 100px;
                width: 100px;
            }

            .grayscale {
                opacity: 0.8;
                filter: grayscale(66%);
            }
        }
        .perk-level .grayscale:hover {
            opacity: 1;
            filter: grayscale(0);
            cursor: pointer;
        }
    }
}


