.profile-container {
  margin-top: 5%;

  img {
    height: 100%;
    width: 10%;
  }

  .card-body .right {
    display: inline-block;
    margin-left: 45px;

    input.card-text {
      min-width: 225px;
      display: block;
    }
    input.btn {
      width: 50%;
    }
  }
}
